@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    @ViewBag.ErrorMessage
    <img src="~/images/MicrosoftTeams-image (1).png" style="background-size:contain;" />
</h1>