@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1 class="title">
                Check Out Our
                Competitive Interest Rates
            </h1>
            <p> . </p>
            <p style="font-size: 18px;">
                across Products
                with Just One Click.
            </p>
        </div>
    </div>
    <section>
        <div class="row">
            <div class="card" style="background-color: #d39bcb; width:300px;">
                <img class="card-img-top" src="~/images/FD.PNG" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">FIXED DEPOSIT</h4>
                    <h5 class="card-text"><bold>5 - 8%</bold></h5>
                </div>
            </div>
            <div class="card" style="background-color: #d39bcb; width:300px;">
                <img class="card-img-top" src="~/images/RD.PNG" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">RECURRING DEPOSIT</h4>
                    <h5 class="card-text"><bold>5 - 10%</bold></h5>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
